.form-textarea {
    height: -1000px;
    /* Reduced from 163px */
}

.form-line {
    padding-top: -400px;
    /* Adjust as necessary */
    padding-bottom: 4px;
    /* Adjust as necessary */
}

div.col-lg-6.col-2 {
    margin-top: 0px;
}

.form-all {
    margin: 0px auto !important;
}

.page-section>li:first-child:not(.form-line-column):not([data-type=control_head]):not([data-type=control_payment]):not([data-type=control_text]):not([data-type=control_button]):not([data-type=control_collapse]) {
    margin-top: 0px;
}
/* You can add more custom styles here to adjust other elements */